@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/BaoDuong/lietkesuachua">
    Chọn số xe <input type="text" name="soxe" placeholder="51G-XXXXX"/>
    <input type="submit" value="Liệt kê" />
</form>
