@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/CongViec/themcv" method="POST">
    <h3>Thêm công việc</h3>
    Mã công việc <input type="text" name="macv" />
    Tên công việc <input type="text" name="tencv" />
    Đơn giá <input type="text" name="dongia" />
    <input type="submit" value="Thêm" />
</form>

