@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
Số lần sửa <input type="text" name="solansua" id="solansua"/>
<button id="btn-lietke">Liệt kê</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

</script>
